<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!--API-->
    <servlet>
        <servlet-name>ChallengesServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.api.ChallengesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChallengesServlet</servlet-name>
        <url-pattern>/api/json/challenges</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JoinServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.api.JoinServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JoinServlet</servlet-name>
        <url-pattern>/api/json/join</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubmitCodeServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.api.SubmitCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitCodeServlet</servlet-name>
        <url-pattern>/api/json/submit-code</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GameStateServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.api.GameStateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameStateServlet</servlet-name>
        <url-pattern>/api/json/game-state</url-pattern>
    </servlet-mapping>

    <!--Admin-->
    <servlet>
        <servlet-name>AdminParameters</servlet-name>
        <jsp-file>/admin/parameters.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminParameters</servlet-name>
        <url-pattern>/admin/parameters</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddParameterServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.admin.AddParameterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddParameterServlet</servlet-name>
        <url-pattern>/admin/add-parameter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteParameterServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.admin.DeleteParameterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteParameterServlet</servlet-name>
        <url-pattern>/admin/delete-parameter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminChallenges</servlet-name>
        <jsp-file>/admin/challenges.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminChallenges</servlet-name>
        <url-pattern>/admin/challenges</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddChallengeServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.admin.AddChallengeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddChallengeServlet</servlet-name>
        <url-pattern>/admin/add-challenge</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PrepareEngineServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.admin.PrepareEngineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrepareEngineServlet</servlet-name>
        <url-pattern>/admin/prepare-engine</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RunEngineServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.admin.RunEngineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RunEngineServlet</servlet-name>
        <url-pattern>/admin/run-engine</url-pattern>
    </servlet-mapping>

    <!--Objectify Filters-->
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.inspirecenter.amazechallenge.OfyHelper</listener-class>
    </listener>

    <!--Security constraints-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>json-api</web-resource-name>
            <url-pattern>/api/json</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <!--End of Security constraints-->

</web-app>